//back_color : #282c34
//light_black : #2b2f33
.project
  display: block
  width: 100%
header
  display: flex
  position: fixed
  width: inherit
  height: 5%
  background-color: transparent
  justify-content: flex-end
  align-items: center
  padding: 0 10px 0 50px
  li, p, svg
    font-weight: 500
    font-size: 16px
    text-decoration: none
    background-color: transparent
    color: black
  li
      border-radius: 25px
      margin: 5px
  svg
    margin-right: 5px
  &:hover
    background-color: #2b2f33
    p, svg
      color: white
    li
      margin: 5px
.logo
  cursor: default
  font-size: x-large
  margin-right: auto
.header
  list-style: none
  background-color: transparent
  li
    display: inline-block
    padding: 0 20px
    background-color: transparent
  li p
    transition: all 0.3s ease 0s
    cursor: pointer
    background-color: transparent
  li p:hover
    color: #fff
