@back_color : #282c34;
@light_black : #2b2f33;

.project {
  display: block;
  width: 100%;
}
li, p {
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

header, header li, header i, header p, header svg,
.header,
.logo{
  background-color: #24252A;
}
header {
  display: flex;
  position: fixed;
  width: inherit;
  height: 5%;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 5%;
  border-bottom: 2px solid yellow;
}
.logo{
  cursor: default;
}
.header{
  list-style: none;
}
.header li {
  display: inline-block;
  padding: 0 20px;
}
.header li p {
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.header li p:hover{
  color: #fff;
  border-bottom: 1px solid #ffffff;
}
.logo{
  margin-right: auto;
}