.right-side{
    background: #fff;
    width: 65%;
    margin:  5%  5% 0 0;
    border: 6px solid lightslategray;
    border-radius: 25px;
    }

.right-side button{
    color: white;
    padding-bottom: 20px;
    background-color:transparent;
    border: 1px solid #282c34;
    font-size: 35px;
    text-align: center;
}


.right-side p{
    color: #000000;
    padding-top: 100px;
    font-size: 35px;
    text-align: center;
}
